<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Landing Page</title>
</head>
<body>
    <header>
        <div class="left-links">
            <p class="logo">Header Logo</p>
        </div>
        <ul>
            <li><a href="">header link one</a></li>
            <li><a href="">header link two</a></li>
            <li><a href="">header link three</a></li>
        </ul>
        
    </header>
    <div class="main">
        <div class="intro">
            <div class="intro-text">
                <h1>This website is awesome</h1>
                <p class="sidekick-text">This website has some subtext that goes here under the main title. It's a smaller font and color is lower contrast.</p>
                <button class="sign-up">Sign up</button>
            </div>
            <div class="image">
                <p>this is a placeholder for an image</p>
            </div>
        </div>
        <div class="content">
            <h2>Some random information</h2>
            <div class="cards">
                <div class="card">
                    <div class="content-img"></div>
                    <p>this is some subtext under an illustration or image</p>
                </div>
                <div class="card">
                    <div class="content-img"></div>
                    <p>this is some subtext under an illustration or image</p>
                </div>
                <div class="card">
                    <div class="content-img"></div>
                    <p>this is some subtext under an illustration or image</p>
                </div>
                <div class="card">
                    <div class="content-img"></div>
                    <p>this is some subtext under an illustration or image</p>
                </div>
            </div>
        </div>
        <div class="quote">
            <p>This is an inspiring quote, or a testimonial from a customer. Maybe it's just filling up space, or maybe people will actually read it. Who knows? All I know is that it looks nice.</p>
            <p class="author">Thor, God of Thunder</p>
        </div>
        <div class="sign-up-section">
            <div class="text">
                <p><b>Call to action! It's time!</b></p>
                <p class="small">Sign up for our product by clicking that button right over there!</p>
            </div>
            <button class="sign-up">Sign up</button>
        </div>
    </div>

    <footer>
        <p>Copyright <span>&#169</span> The Odin Project 2021</p>
    </footer>






</body>

</html>

